<div class="author">
    <h1 class="author__heading">Hi, I am Handi.</h1>
<<<<<<< HEAD
    <p class="author__body">Web Developer, UI/UX Designer and Content Creator.</p>
=======
    <p class="author__body">Web developer and content creator.</p>
>>>>>>> 98051f64e355473d76c36a7750cfffc83996de32
  </div>
  
  <img src="/img/earth.avif" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
   
  
    
  
  
  
  </section>
